:root {
    --container-text-clr: gray;
    --container-header-txt-clr: #000;
    --container-bg-clr: #fff;
    --section-bg-clr: rgb(0, 201, 201);
    --footer-clr: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

a {
    color: #000;
    text-decoration: none;
}

.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-photo {
    max-width: 100%;
}

.container-photo-item {
    max-width: 100%;

    display: block;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.container-contents {
    padding: 1.5em;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1em;

    background-color: var(--container-bg-clr);
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.container-contents-header {
    font-size: 2rem;
    color: var(--container-header-txt-clr);
}

.container-contents-description {
    font-size: 1.2rem;
    color: var(--container-text-clr);
}

.container-contents-icons {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    gap: 1.5rem;
}

.contents-icon {
    font-size: 2rem;
}

header {
    padding: 4em;
    background-color: var(--section-bg-clr);
}

.container-intro-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-contents-intro {
    padding: 3rem;
}

.container-contents-intro-header {
    font-size: 2rem;
}

.container-contents-intro-description {
    font-size: 1.5rem;
}

.contents-intro-icon {
    font-size: 2.5rem;
}

main {
    padding: 4em;
    gap: 2rem;
}

.work-header {
    font-weight: 300;
    margin-bottom: 4rem;
    align-self: flex-start;
}

.container-work {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 5rem;
}

footer {
    padding: 4rem;
    background-color: var(--section-bg-clr);
}

.contact-me {
    color: var(--footer-clr);
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 4rem;
}

.contact-me-contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-contact-me-photo {
    max-width: 100%;
    overflow: hidden;
}

.contact-me-photo-item {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.contact-me-container-contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacts-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.contacts-item-icon {
    width: 32px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(101%);
}

.contact-me-container-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.contact-me-item-icon {
    font-size: 3rem;
}

@media (max-width: 1000px) {
    header {
        padding: 0;
    }

    .container-intro-item {
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 1rem;
    }

    .container-work {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .work-header {
        margin: 2rem 0 2rem 0;
    }

    .container-contents-icons {
        align-self: center;
    }

    .contents-icon {
        font-size: 1.8rem;
    }

    footer {
        padding: 1rem;
    }

    .contact-me {
        text-align: center;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
    }

    .contact-me-container-address {
        justify-content: center;
        align-items: center;
    }

    .contacts-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-contact-me-photo {
        display: none;
    }

    .contact-me-container-icons {
        justify-content: center;
        align-items: center;
    }

    .contact-me-item-icon {
        font-size: 2.2rem;
    }
}

@media (max-width: 1000px) {
    header {
        padding: 0;
    }

    .container-intro-item {
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 1rem;
    }

    .container-work {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .work-header {
        margin: 2rem 0 2rem 0;
    }

    .container-contents-icons {
        align-self: center;
    }

    .contents-icon {
        font-size: 1.8rem;
    }

    footer {
        padding: 1rem;
    }

    .contact-me {
        text-align: center;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
    }

    .container-contact-me-photo {
        display: none;
    }

    .contact-me-container-icons {
        justify-content: center;
        align-items: center;
    }

    .contact-me-item-icon {
        font-size: 2.2rem;
    }
}